<h1>Vagas:</h1>
<% @jobs.each do |job| %>
<%= render partial: 'jobs/job', locals:{ job: job } %>
<% end %>

<h1>Empresas:</h1>
<% @companies.each do |company| %>
<p><%= link_to company.name, company %></p>
<% end %>
